.envolturaTres {
    background-color: rgb(151, 175, 175);
    margin-bottom: 1.5em;
    display: grid;
    grid-template-areas:
        "htres"
        "productos"
        "fotosprod"
        "redesss"
        "footerrr";
    gap: 20px;
}
.imgTres:hover{
    animation: budin 4s;
}
@keyframes budin{
    0%{transform: scale(0.9) ;
}}