.event{
    width:350px;
    height: 150px;
}
#flechita{
    width: 100px;
    height: 100px;
    border: none;
}
.eventos {
    background-color: rgb(252, 191, 169);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items: center;
}