/*declarar grid contacto*/
.hCuatro {
    grid-area: hcuatro;
}

.imagenn {
    grid-area: imagenn;
}

.contactanos {
    grid-area: contactanos;
}

.datos {
    grid-area: datos;
}

.redes {
    grid-area: redesuno;
}

footer {
    grid-area: footeruno;
}