/*declarar grid haz tu pedido*/
.hDos {
    grid-area: hdos;
}

.mandados {
    grid-area: mandados;
}

.budyalf {
    grid-area: budyalf;
}

.rowUno {
    grid-area: rowuno;
}

.mym {
    grid-area: mym;
}

.rowDos {
    grid-area: rowdos;
}

.redes {
    grid-area: redess;
}

footer {
    grid-area: footerr;
}