/*declarar grid galeria*/
.hTres {
    grid-area: htres;
}

.productos {
    grid-area: productos;
}

.fotosProd {
    grid-area: fotosprod;
}

.redes {
    grid-area: redesss;
}

footer {
    grid-area: footerrr;
}
