@import "fuentes";
@import "generales";
@import "titulos";
@import "nav";
@import"eventos";
@import "redes";
@import "grillas";
@import "envolturas";


.btn.btn-primary {
    background-color: rgb(102, 139, 138);
    border: none;
}

.avena {
    width: 600px;
    height: 50px;
    border: none;
}

img {
    width: 300px;
    height: 250px;
    border: 0.5em solid black;
    margin-top: 5em;
}

footer {
    padding: 3em;
    background-color: rgb(151, 175, 175);
    margin-bottom: 0;
    margin-top: 1.5em;
}

footer {
    margin-top: 0;
}

@import "mediaqindx";
@import "grillapedido";
@import "envolycontpedido";
@import "mediaqpedido";
@import "grillagaleria";
@import "envolturagaleria";
@import "mediaqgaleria";
@import "grillacontacto";
@import "contenidoscontacto";
@import "mediaqcontacto";
@import "grillabenef";
@import "contenidosbeneficios";
@import "mediaqbeneficios";