@import "fuentes";
@import "generales";
@import "titulos";
@import "nav";
@import"eventos";
@import "redes";
@import "grillas";
@import "envolturas";
@import "contenidoindex";



footer {
    padding: 3em;
    background-color: rgb(151, 175, 175);
    margin-bottom: 0;
    margin-top: 1.5em;
}

footer {
    margin-top: 0;
}

@import "mediaqindx";
@import "grillapedido";
@import "envolycontpedido";
@import "mediaqpedido";
@import "grillagaleria";
@import "envolturagaleria";
@import "mediaqgaleria";
@import "grillacontacto";
@import "contenidoscontacto";
@import "mediaqcontacto";
@import "grillabenef";
@import "contenidosbeneficios";
@import "mediaqbeneficios";